@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto-Slab&display=swap');
* {  
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

section {
    width: 100%;
    position: relative;
}

/* Header Items */
header {
    text-align: center;
    color: #fff;
    background-color: black;
    background: url(Images/capitol.jpeg);
    background-repeat: no-repeat;
    *background-attachment: scroll;
    background-attachment: fixed;
    background-position: left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 10px;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
}

/* Nav Items */
nav {
    z-index: 1030;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-image: linear-gradient(to top, rgb(255, 0, 0, 0), rgb(108, 108, 108));
}

.name a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 50px;
    font-family:"Oswald", Arial, Helvetica, sans-serif;
}

.name a:hover {
    color: rgb(255, 255, 0);
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 30%;
}

.nav-links a {
    color: white;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 10px 10px 10px 10px;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.nav-links a:hover {
    color: rgb(255, 255, 0);
}

/* Non-navbar Items */
.intro img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    outline: 10px solid rgb(255, 255, 0);
    margin: auto;
    margin-top: 100px;
    display: block;
}

.intro h1 {
    font-style: none;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    margin: 30px;
    font-size: 80px;
}

.intro h2 {
    font-style: italic;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    margin: 30px;
    font-size: 40px;
}

/* About Me Section */
#about-section {
    text-align: inline;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, rgba(255,255,0), rgb(255, 255, 255));
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
}

#about-section img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    outline: 10px solid rgb(0, 0, 0);
    display: inline;
    margin-left: 50px;
}

#about-section h1 {
    margin: 10px;
    font-size: 50px;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    display: inline;
}

#about-section #description {
    font-size: 20px;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    display: inline;
}

#about-section #p-text {
    font-size: 30px;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

/* Projects Section */
.projects {
    padding: 50px;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
}

.projects h1 {
    font-size: 80px;
    margin: auto;
    text-align: center;
}

/* Project Links */
#projects-section {
    text-align: center;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
}
#projects-section h1 {
    font-size: 80px;
    margin-top: 60px;
}

#projects-section #project-intro-desc {
    font-size: 20px;
    margin-bottom: 50px;
}

/* Project Rows */
.top-container {
    margin-bottom: 20px;
}

.project-container {
    display: inline-block;
    margin: 10px;
    width: 20%;
}

.project-content {
    position: relative;
    width: 100%;
    margin: auto;
    transition: all .3s;
}

.project-content img {
    position:relative;
    width: 100%;
    height: 250px;
    opacity: 0.30;
    border-radius: 20px;
    outline: 2px solid black;
}

.project-content:hover {
    width: 95%;
}

.project-content:hover img {
    opacity: 1;
}

.project-name {
    position: absolute;
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    font-family: "Oswalk", Arial, Helvetica, sans-serif;
    color: rgb(34, 0, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-desc {
    position: absolute;
    width: 90%;
    font-weight: 700;
    font-size: 15px;
    font-family: "Oswalk", Arial, Helvetica, sans-serif;
    font-style: none;
    color: rgb(0, 0, 0);
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}