@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto-Slab&display=swap');
* {  
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

section {
    width: 100%;
    position: relative;
}

/* Header Items */
header {
    text-align: center;
    color: #EEF0EE;
    background-color: black;
    background: url(Images/background.png);
    background-repeat: no-repeat;
    *background-attachment: scroll;
    background-attachment: fixed;
    background-position: left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 10px;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
}

/* Nav Items */
nav {
    z-index: 1030;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-image: linear-gradient(to top, rgb(255, 0, 0, 0), #508415);
}

.name a {
    color: #EEF0EE;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 50px;
    font-family:"Oswald", Arial, Helvetica, sans-serif;
}

.name a img{
    width: 45px;
}

.name a:hover {
    color: #0F1407;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 30%;
}

.nav-links a {
    color: #0F1407;
    letter-spacing: 3px;
    font-weight: none;
    font-size: 14px;
    border-radius: 10px 10px 10px 10px;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.nav-links a:hover {
    color: #EEF0EE;
}

.nav-links #resume-button {
    font-weight: bold;
}

/* button hover animation */
.nav-buttons {
    transition: .3s;
}

.nav-buttons:hover {
    font-size: 16px;
}

#home-button:hover {
    font-size: 52px;
}

/* Non-navbar Items */
.image-border {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    outline: 10px solid #A1C349;
    display: inline-block;
    margin-top: 100px;
    overflow: hidden;
}

.intro img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: block;
}

.intro h1 {
    font-style: none;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    margin: 30px;
    font-size: 80px;
}

.intro h2 {
    font-style: italic;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    margin: 40px;
    font-size: 40px;
}

/* About Me Section */
#about-section {
    text-align: inline;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, #A1C349, rgb(255, 255, 255));
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
}

.square-image-border {
    width: 300px;
    height: 300px;
    border-radius: 20%;
    outline: 10px solid #0F1407;
    display: inline-block;
    margin-left: 60px;
}

#about-section img {
    width: 300px;
    height: 300px;
}

#about-section h1 {
    color: #0F1407;
    margin: 10px;
    font-size: 50px;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    display: inline;
}

#about-section #about-description {
    color: #0F1407;
    font-size: 20px;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

#about-section #p-text {
    color: #0F1407;
    font-size: 30px;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

/* Projects Section */
.projects {
    padding: 50px;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
}

.projects h1 {
    font-size: 80px;
    margin: auto;
    text-align: center;
}

/* Project Links */
#projects-section {
    text-align: center;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    padding-top: 10px;
}
#projects-section h1 {
    font-size: 80px;
    margin-top: 25px;
    color: #0F1407;
}

#projects-section #project-intro-desc {
    font-size: 20px;
    margin-bottom: 50px;
    color: #0F1407;
}

/* Project Rows */
.top-container {
    margin-bottom: 20px;
}

.project-container {
    display: inline-block;
    margin: 10px;
    width: 20%;
}

.project-content {
    position: relative;
    width: 100%;
    margin: auto;
}

.project-content img {
    position:relative;
    width: 100%;
    height: 250px;
    opacity: 0.30;
    border-radius: 20px;
    outline: 2px solid black;
}

.project-content:hover {
    width: 95%;
}

.project-content:hover img {
    opacity: 1;
}

.project-content:hover h2 {
    font-size: 25px;
}

.project-content:hover p {
    font-size: 18px;
}

.project-name {
    position: absolute;
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    font-family: "Oswalk", Arial, Helvetica, sans-serif;
    color: #508415;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-desc {
    position: absolute;
    width: 90%;
    font-weight: 700;
    font-size: 15px;
    font-family: "Oswalk", Arial, Helvetica, sans-serif;
    font-style: none;
    color: #0F1407;;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#project-outro {
    margin-top: 30px;
    font-size: 25px;
}

/* Socials / Contact Section */
#socials-section {
    background-color: #A1C349;
    position: absolute;
    text-align: center;
    margin-top: 50px;
    height: 150px;
}
#socials-section h1 {
    font-size: 40px;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    color: #0F1407;
    margin-top: 10px;
    text-align: center;
}

.social-container {
    display: inline-block;
    margin: 10px;
    margin-top: 5px;
    width: 4%;
    text-align: center;
}

.social-image {
    width: 100%;
}

/* Mobile */
@media only screen and (max-width: 767px)
{
    .project-container, .project-content
    {
        display: block; 
        float: none; 
        width: 70%;
        padding: 20px 0;
    }
}

@media only screen and (max-width: 767px)
{
    .social-container
    { 
        width: 50px;
    }
}

@media only screen and (max-width: 767px)
{
    .project-content
    { 
        width: 350px;
    }
}

@media only screen and (max-width: 767px)
{
    .square-image-border
    { 
        margin-left: 40px;
    }
}

@media only screen and (max-width: 767px)
{
    .description
    {   
        position: relative;
        left: 30px;
    }
}